src/main/resources/request-schema2.xsd

<?xml version="1.0" encoding="utf-8"?>
<!-- Created with Liquid Technologies Online Tools 1.0 (https://www.liquid-technologies.com) -->
<xs:schema xmlns:tns="urn:iso:std:iso:20022:tech:xsd:pacs.008.001.06" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="urn:iso:std:iso:20022:tech:xsd:pacs.008.001.06" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="GrpHdr">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="MsgId" type="xs:string" />
        <xs:element name="CreDtTm" type="xs:dateTime" />
        <xs:element name="NbOfTxs" type="xs:unsignedByte" />
        <xs:element name="SttlmInf">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="SttlmMtd" type="xs:string" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CdtTrfTxInf">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="PmtId">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="EndToEndId" type="xs:string" />
              <xs:element name="TxId" type="xs:string" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="PmtTpInf">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="CtgyPurp">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="Prtry" type="xs:string" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="IntrBkSttlmAmt">
          <xs:complexType>
            <xs:simpleContent>
              <xs:extension base="xs:unsignedByte">
                <xs:attribute name="Ccy" type="xs:string" use="required" />
              </xs:extension>
            </xs:simpleContent>
          </xs:complexType>
        </xs:element>
        <xs:element name="ChrgBr" type="xs:string" />
        <xs:element name="InstgAgt">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="FinInstnId">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="PstlAdr">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="StrtNm" type="xs:string" />
                          <xs:element name="TwnNm" type="xs:string" />
                          <xs:element name="CtrySubDvsn" type="xs:string" />
                          <xs:element name="Ctry" type="xs:string" />
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="Othr">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="Id" type="xs:string" />
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="Dbtr">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="Nm" type="xs:string" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="DbtrAcct">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="Id">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="Othr">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="Id" type="xs:unsignedInt" />
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="Tp">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="Prtry" type="xs:string" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="DbtrAgt">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="FinInstnId">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="Othr">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="Id" type="xs:string" />
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="CdtrAgt">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="FinInstnId">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="Othr">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="Id" type="xs:string" />
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="Cdtr">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="Nm" type="xs:string" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="CdtrAcct">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="Id">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="Othr">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="Id" type="xs:unsignedInt" />
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="Tp">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="Prtry" type="xs:string" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="SplmtryData">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="PlcAndNm" type="xs:string" />
              <xs:element name="Envlp">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="InstrForCdtrAgt">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="RecptRef" type="xs:unsignedLong" />
                          <xs:element name="PaymntDesc" type="xs:string" />
                          <xs:element name="ScndValInd" type="xs:string" />
                          <xs:element name="IdTp" type="xs:unsignedByte" />
                          <xs:element name="Id" type="xs:unsignedLong" />
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="InstrForDbtrAcct">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="RsdntSts" type="xs:unsignedByte" />
                          <xs:element name="PrdTp" type="xs:string" />
                          <xs:element name="ShariaCmpl" type="xs:string" />
                          <xs:element name="Dtls" type="xs:unsignedByte" />
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="Dbtr">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="IPAddr" type="xs:string" />
                          <xs:element name="Id" type="xs:unsignedInt" />
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="CdtTrfTxInf">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="URL" type="xs:string" />
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="PrxyLkUpRef" type="xs:string" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>
