src/main/resources/request-schema0.xsd

<?xml version="1.0" encoding="utf-8"?>
<!-- Created with Liquid Technologies Online Tools 1.0 (https://www.liquid-technologies.com) -->
<xs:schema xmlns:ns="urn:rpp" xmlns:ns2="urn:iso:std:iso:20022:tech:xsd:pacs.008.001.06" xmlns:ns1="urn:iso:std:iso:20022:tech:xsd:head.001.001.01" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="urn:rpp" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="request-schema1.xsd" namespace="urn:iso:std:iso:20022:tech:xsd:head.001.001.01" />
  <xs:import schemaLocation="request-schema2.xsd" namespace="urn:iso:std:iso:20022:tech:xsd:pacs.008.001.06" />
  <xs:element name="BusMsg">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="AppHdr">
          <xs:complexType>
            <xs:sequence>
              <xs:element ref="ns1:Fr" />
              <xs:element ref="ns1:To" />
              <xs:element ref="ns1:BizMsgIdr" />
              <xs:element ref="ns1:MsgDefIdr" />
              <xs:element ref="ns1:BizSvc" />
              <xs:element ref="ns1:CreDt" />
              <xs:element ref="ns1:PssblDplct" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="Document">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="FIToFICstmrCdtTrf">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element ref="ns2:GrpHdr" />
                    <xs:element ref="ns2:CdtTrfTxInf" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>
